#tentang0 {
  background-color: #f7acef;
}
#tentang {
  background: url('latihan/img/hehe4.png') no-repeat;
  background-size: cover;
}

#layanan0 {
  background-color: #febfa4;
}
#layanan {
  background: url('latihan/img/hehe4.png') no-repeat;
  background-size: cover;
}

#produk0 {
  background-color: #fffbb0;
}
#produk {
  background: url('latihan/img/hehe4.png') no-repeat;
  background-size: cover;
}
#produk2 {
  background: url('latihan/img/hehe4.png') no-repeat;
  background-size: cover;
}

#edukasi0 {
  background-color: #b0cbff;
}
#edukasi {
  background: url('latihan/img/hehe4.png') no-repeat;
  background-size: cover;
}
#edukasi2 {
  background: url('latihan/img/hehe4.png') no-repeat;
  background-size: cover;
}

#komunitas0 {
  background-color: #b2afff;
}
#komunitas {
  background: url('latihan/img/hehe4.png') no-repeat;
  background-size: cover;
}

#footer0 {
  background-color: #b2afff;
}
#footer {
  background-color: #eaf5fd;
}

#daftar {
  background: url('latihan/img/hehe4.png') no-repeat;
  background-size: cover;
}

#login {
  background: url('latihan/img/hehe4.png') no-repeat;
  background-size: cover;
  padding-bottom: 4rem;
}

#produk2 {
  background-color: #d7e8ff;
}
